
.navbar {
    background-color: var(--rich-black);
  }
  
  .navbar-brand {
    color: var(--powder-blue);
  }
  
  .navbar-nav .nav-link {
    color: var(--glaucous);
  }
  
  .btn-primary {
    background-color: var(--powder-blue);
    border-color: var(--powder-blue);
    color: var(--rich-black);
  }
  